set_io CE 27
set_io nRD 29
set_io DB\[2\] 30
set_io DB\[1\] 33
set_io DB\[0\] 34
set_io DB\[15\] 36
set_io DB\[14\] 37
set_io DB\[13\] 40
set_io DB\[11\] 41
set_io DB\[12\] 42
set_io DB\[10\] 51
set_io DB\[9\] 52
set_io Din\[17\] 25
set_io Din\[16\] 24
set_io DB\[8\] 53
set_io DB\[7\] 54
set_io DB\[6\] 56
set_io DB\[5\] 57
set_io DB\[3\] 20
set_io DB\[4\] 59
set_io MCI 15
set_io ClrW 62
set_io H_L 64
set_io C_D 65
set_io SDA 66
set_io SCK 68
set_io nPD 2
set_io CKB 100
set_io Din\[15\] 99
set_io Din\[14\] 97
set_io Din\[13\] 96
set_io Din\[12\] 95
set_io Din\[11\] 94
set_io Din\[10\] 93
set_io Din\[9\] 91
set_io Din\[8\] 90
set_io Din\[3\] 87
set_io Din\[4\] 86
set_io Din\[6\] 85
set_io Din\[7\] 83
set_io Din\[5\] 82
set_io CKA 81
set_io Din\[1\] 80
set_io Din\[0\] 79
set_io Din\[2\] 78
